/* Variables */
:root {
    --color-fondo: #E5E5E5;
    --color-titulo: #4CAF50;
    --color-principal: #0A3871;
    --color-secundario: #D8DFE8;
    --color-texto-oscuro: #343A40;
    --color-texto-claro: #495057;
    --fuente-principal: 'Inter', sans-serif;
    --font-size-muy-grande: 2rem; 
    --font-size-grande: 1rem;     
    --font-size-mediana: 0.875rem;
    --font-size-pequeño: 0.75rem; 
    --font-size-muy-pequeño: 0.625rem; 
    --line-height: 1.5;
    --border-radius: 0.5rem; 
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-size: var(--font-size-grande);
    line-height: var(--line-height);
    background: var(--color-fondo);
     /* outline: 1px solid red;         */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* padding: 1rem; /* Espaciado interno */
}

/* Encabezado */
header {
    display: flex;
    background-color: var(--color-titulo);
    color: white;
    padding: 1rem; 
    width: 100%;
    text-align: center;
    height: 10vh; 
}

.logo {
    background: transparent;
}


main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.5rem; 
    margin-bottom: 1rem; 
    height: 80vh; 
    flex-direction: row;
}

/* Sección de entrada */
.entrada-section {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items:start;
 }

 .inferior {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: auto; 
    width: 100%;
}


/* Sección de salida */
.salida-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-principal);
    background: white;
    border: none;
    border-radius: var(--border-radius);
}

/* Imagen inicial en la sección de salida */
.salida-section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1.5rem; 
    background: transparent;
}

/* Ocultar textarea y botón copiar inicialmente */
.textoSalida, .boton-copiar {
    display: none;
}

.textoEntrada {
    border: none;
    outline: none;
    color: var(--color-principal);
    text-transform: lowercase;
    font-size : var(--font-size-muy-grande);    
}

.textoEntrada::placeholder {
    color: var(--color-principal);
    font-size : var(--font-size-muy-grande);
}

.textoSalida {
    border: none;
    outline: none;
    color: var(--color-principal);
    text-transform: lowercase;
    background: transparent;
    font-size : var(--font-size-muy-grande);
    margin-left: 1rem;
}

.textoSalida::placeholder {
    color: var(--color-principal);
}

.informacion {
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-size: var(--font-size-mediano);
    line-height: var(--line-height);
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 0.625rem; 
    width: 100%;
}

.boton-encriptar {
    background-color: var(--color-principal);
    color: white;
    border-radius: var(--border-radius);
    height: 4.1875rem;
    width: 100%; 
    border: 1px solid darkblue;
}

.boton-desencriptar {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border-radius: var(--border-radius);
    height: 4.1875rem; 
    width: 100%; 
    border: 1px solid darkblue;
}

.boton-copiar {
    color: var(--color-principal);
    border-radius: var(--border-radius);
    height: 4.1875rem; 
    width: 90%; 
    border: 1px solid darkblue;
    background: transparent;
}

footer {
    margin-top: auto;
    background-color: var(--color-titulo);
    color: white;
    padding: 0.5rem; 
    width: 100%;
    text-align: center;
}

.autor {
    font-size: var(--font-size-mediana);
    background: transparent;
}

.mensajesYCopiar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width:100%;
}

.mensajeNoEncontrado {
    font-family: var(--fuente-principal);
    font-weight: bold;
    font-size: var(--font-size-grande);
    line-height: 120%;
    color: var(--color-texto-oscuro);
    background: transparent;
}

.mensajeInformativo {
    font-family: var(--fuente-principal);
    font-weight: regular;
    font-size: var(--font-size-pequeño);
    line-height: var(--line-height);
    color: var(--color-texto-claro);
    background: transparent;
}

.titulo {
    background: transparent;
    font-size : var(--font-size-muy-grande);    
}

/* Responsive para tablet */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        height: auto; 
        align-items: center; 
    }

    .entrada-section, .salida-section {
        width: 90%; 
    }

    .salida-section {
        margin-top: 1rem; 
    }

.botones {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; 
}

}

/* Responsive para celulares */
@media (max-width: 480px) {
    .botones {
        flex-direction: column;
        gap: 0.625rem; 
    }

    .boton-encriptar, .boton-desencriptar, .boton-copiar {
        width: 100%; 
    }

    .entrada-section, .salida-section {
        width: 100%; 
    }

    .salida-section {
        margin-top: 0.625rem;
    }

}
